.sign-in-form {
  width: 100%;
}
input {
  width: -webkit-fill-available;
  border: none;
  margin-top: 18px;

  padding-left: 2vh;
  height: 10vh;
  border-radius: 0.5vh;
  font-size: 3vh;
}
.sign-in-submit {
  margin-top: 18px;
  height: 10vh;
  border: none;
  border-radius: 5px;
  background-color: #6bbe5a;
  color: white;
  font-size: x-large;
  width: inherit;
}
.sign-in-submit:hover {
  transition: 1s;
  background-color: #2da914;
}
form p {
  color: white;
}
