.app {
  text-align: center;
  min-height: 100vh;
  background-color: white;
  color: darkslateblue;
  display: grid;
  grid-template-columns: minmax(20px, 352px) minmax(1100px, 1280px) minmax(
      20px,
      352px
    );
  grid-template-rows: minmax(1em, auto) 1fr minmax(1em, auto);
}
.main {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: minmax(20px, 352px) minmax(1100px, 1280px) minmax(
      20px,
      352px
    );
  grid-template-rows: 100%;
}
.footer {
  display: grid;
  grid-column: 1/-1;
  background: linear-gradient(0deg, #4f5a4d, #4f5a4d), #000000;
  grid-template-columns: minmax(20px, 352px) minmax(1100px, 1280px) minmax(
      20px,
      352px
    );
  grid-template-rows: 100%;
  height: 121px;
}
.footer-content {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.aboutUs {
  grid-column: 1/2;
  text-align: left;
  margin: auto 0;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  color: #ffffff;
}
.aboutUs p {
  margin: 0 auto;
}
.contactUs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: left;
  grid-column: 2/3;
}
.contactUs div {
  margin: auto 0;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.contactUs a {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  color: #ffffff;
  text-align: left;
}
.social {
  grid-column: 3/4;
  text-align: right;
  margin: auto 0;
}
.social a img {
  padding: 0 0 0 0.5em;
}
@media screen and (max-width: 1020px) {
  .app {
    display: grid;
    grid-template-columns: 1fr repeat(6, minmax(auto, 10em)) 1fr;
    grid-template-rows: minmax(1em, auto) 1fr minmax(1em, auto);
  }
  .main {
    grid-column: span 8;
    display: grid;
    grid-template-columns: 1fr repeat(6, minmax(auto, 10em)) 1fr;
    grid-template-rows: 1fr;
  }
  .footer {
    grid-column: span 8;
    display: grid;
    grid-template-columns: 1fr repeat(6, minmax(auto, 10em)) 1fr;
    grid-template-rows: 1fr;
  }
  .aboutUs {
    grid-column: 2/4;
    margin: auto 0;
  }
  .contactUs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    grid-column: 4/6;
  }
  .contactUs div:nth-of-type(3) {
    display: none;
  }

  .social {
    grid-column: 6/8;
    text-align: right;
    margin: auto 0;
  }
}
@media screen and (max-width: 480px) {
  .app {
    height: auto;
    display: grid;
    grid-template-columns: 1fr minmax(auto, 10em) 1fr;
    grid-template-rows: minmax(1em, auto) 1fr minmax(1em, auto);
  }
  .main {
    grid-column: 1/4;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr minmax(auto, 10em) 1fr;
    grid-template-rows: 1fr;
  }
  .footer {
    grid-column: 1/4;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 1fr repeat(6, minmax(auto, 10em)) 1fr;
    grid-template-rows: 1fr;
  }
  .aboutUs {
    grid-column: 3/5;
    margin: auto 0;
  }
  .contactUs {
    display: none;
  }
  .social {
    grid-column: 5/7;
    text-align: right;
    margin: auto 0;
  }
}
