.home {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: minmax(20px, 352px) minmax(1100px, 1280px) minmax(
      20px,
      352px
    );
  grid-template-rows: 1fr 1fr;
  overflow: hidden;
}
.background1 {
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: minmax(20px, 352px) minmax(1100px, 1280px) minmax(
      20px,
      352px
    );
  grid-template-rows: repeat(4, 1fr);
  background: linear-gradient(0deg, #f0f0f0, #f0f0f0), #000000;
  border-bottom: 10px solid #e0d9d6;
}
.background1 .description {
  grid-column: 2/3;
  grid-row: 2/5;
  text-align: left;
  width: 370px;
}
.background1 img {
  position: relative;
  top: 130px;
  grid-column: 2/4;
  grid-row: 1/5;
  left: 233px;
}

.description h1 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 55px;
  line-height: 48px;
  color: #161616;
}
.description h5 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #606060;
}
.background2 {
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: minmax(20px, 352px) minmax(1100px, 1280px) minmax(
      20px,
      352px
    );
  background: #ffffff;
}
.suggest {
  grid-column: 2/3;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.suggest h1 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  align-items: center;
  color: #000000;
  text-align: left;
  margin: 70px 0;
}

.suggest ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, 505px);
  grid-column-gap: 95px;
  grid-row-gap: 5px;
  grid-template-rows: repeat(4, 48px);
  grid-auto-flow: column;
  align-items: center;
  list-style-image: url("../img/checkbox.png");
}

.suggest ul li {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  align-items: center;
  text-align: left;
  color: #000000;
}
@media screen and (max-width: 1020px) {
  .home {
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: minmax(20px, 52px) minmax(720px, 920px) minmax(
        20px,
        52px
      );
    grid-template-rows: 50% 50%;
    overflow: hidden;
  }
  .background1 {
    display: grid;
    grid-column: 1/-1;
    grid-row: 1/2;
    grid-template-columns: minmax(20px, 52px) minmax(720px, 920px) minmax(
        20px,
        52px
      );
    grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
    background: linear-gradient(0deg, #f0f0f0, #f0f0f0), #000000;
    border-bottom: 10px solid #e0d9d6;
  }
  .background1 img {
    width: 772px;
    height: 420px;
    left: 250px;
    top: 73px;
  }
  .background2 {
    display: grid;
    grid-column: 1/-1;
    grid-row: 2/3;
    grid-template-columns: minmax(20px, 52px) minmax(720px, 920px) minmax(
        20px,
        52px
      );
    grid-template-rows: 1fr;
    background: #ffffff;
  }
  .suggest ul {
    grid-template-columns: repeat(auto-fill, 385px);
  }

  @media screen and (max-width: 480px) {
    .home {
      grid-column: span 3;
      display: grid;
      grid-template-columns: minmax(20px, 40px) minmax(280px, 400px) minmax(
        20px,
        40px
      );      grid-template-rows: 400px 1fr;
    }
    .background1 {
      grid-column: span 3;
      grid-row: 1/2;

      display: inline-grid;
      grid-template-columns: 1fr minmax(auto, 10em) 1fr;
      grid-template-rows: 1fr;

      background: linear-gradient(0deg, #f0f0f0, #f0f0f0), #000000;
      border-bottom: 10px solid #e0d9d6;
    }
    .background1 img {
      display: none;
    }
    .background1 .description {
      height: 340px;
      width: 370px;
      display: grid;
      grid-column: 2/3;
      grid-row: 1/2;
    }
    .background1 .description h1 {
      margin: auto 0 0 0;
    }
    .background1 .description h5 {
      align-self: flex-start;
    }
    .background2 {
      grid-column: span 3;
      grid-row: 2/3;

      display: inline-grid;
      grid-template-columns: 1fr minmax(auto, 10em) 1fr;
      grid-template-rows: 1fr;
      background: #ffffff;
    }
    .background2 .suggest {
      width: 370px;
      height: auto;
      grid-column: 2/3;
      grid-row: 1/2;
      display: grid;
      grid-template-rows: 0.2fr 1fr 1fr;
      grid-template-columns: 1fr;
    }
    .suggest h1 {
      margin: 2rem 0;
      grid-column: 2/3;
      grid-row: 1/2;
    }
    .suggest ul {
      grid-column: 2/3;
      grid-row: 2/3;
      list-style-image: url("../img/checkbox.png");
      margin-bottom: 0;
    }
    .suggest ul:nth-of-type(2) {
      grid-column: 2/3;
      grid-row: 3/4;
      margin-bottom: 0;
    }
    .suggest ul li {
      margin-bottom: 1rem;
    }
  }
}
