.my-clients {
  display: flex;
  flex-direction: column;
  color: #2855af;
  width: 80%;
  margin: 0 auto;
}
.add-and-sort {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2vh 0;
}
.sort {
  display: flex;
  flex-direction: column;
}
.my-clients .add-and-sort .add button {
  color: #2855af;
  font-weight: 700;
  padding: 1vh 3vh;
  text-decoration: none;
  border: 0.3vh solid #2855af;
  border-radius: 1vh;
  height: 10vmin;
  font-size: 2.5vmin;
  width: 30vmin;
  margin: 1vh auto;
}
.my-clients .add-and-sort .add button:hover {
  color: white;
  background-color: #2855af;
  transition: 0.5s;
}
.table-header {
  display: flex;
  justify-content: space-around;
}
.add-client-modal {
  width: 200px;
  height: 200px;
  background-color: red;
}
