.my-services {
  display: flex;
  flex-direction: column;
  color: #2855af;
  width: 80%;
  margin: 0 auto;
}
.add-and-sort {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2vh;
}
.sort {
  display: flex;
  flex-direction: column;
}
.my-services button {
  color: #2855af;
  font-weight: 700;
  padding: 1vh 3vh;
  text-decoration: none;
  border: 0.3vh solid #2855af;
  border-radius: 2vh;
  height: 14vh;
  font-size: large;
  width: 30vh;
  margin: 1vh auto;
}
