.registration {
  background-color: #50afff;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
}
.registration .first-block {
  display: block;
  flex-direction: row;
  width: 50%;
  padding: 0 1vh 0 1vh;
}
.registration .first-block .css-b8ldur-Input {
  position: relative;
  height: 5vh;
  bottom: 1vh;
}
.registration .second-block {
  padding: 1vh;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.registration .first-block form {
  display: flex;
  flex-direction: column;
}
