.registration {
  background: linear-gradient(0deg, #ffffff, #ffffff), #000000;
}
.registration input {
  height: 48px;
  background: linear-gradient(0deg, #ffffff, #ffffff), #000000;
  border: 2px solid #c9c9c9;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #787878;
}
.registration .first-block p {
  color: #787878;
  margin: 0;
}
.registration .css-1pcg53s-Input div {
  height: initial;
}
.registration .css-1375ud7-Input div input {
  margin: 0;
}
.registration .css-1pcg53s-Input div input {
  margin: 0;
}
.registration .css-1375ud7-Input div input {
  margin: 0;
}
.registration .css-10ivnzn-MenuList div:hover {
  background-color: #deebff;
}
.registration .css-4ljt47-MenuList div:hover {
  background-color: #deebff;
}
