.sign-in {
  display: grid;
  grid-column: 1/-1;
  background-color: grey;
  grid-template-columns: minmax(20px, 352px) minmax(1100px, 1280px) minmax(
      20px,
      352px
    );
  grid-template-rows: 1fr;
}
.sign-in-container {
  margin: auto 0;
  grid-column: 2/3;
}
.sign-in-text {
  color: white;
}
.registration-link {
  margin-top: 18px;
  color: white;
  border: solid white 0.1rem;
  border-radius: 0.8vh;
  text-decoration: none;
  height: 6vh;
  padding: 0.9vh;
  width: 21%;
  font-weight: 700;
  font-size: 2.5vh;
}
.registration-link:hover {
  background-color: white;
  color: #50afff;
  text-decoration: none;
}
@media screen and (max-width: 1020px) {
  .sign-in {
    grid-template-columns: minmax(20px, 52px) minmax(720px, 920px) minmax(
        20px,
        52px
      );
  }
}
@media screen and (max-width: 480px) {
  .sign-in {
    grid-template-columns: minmax(20px, 40px) minmax(280px, 400px) minmax(
        20px,
        40px
      );
  }
}
