.sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #50afff;
  height: 75vh;
}
.sign-in-text {
  color: white;
}
.registration-link {
  color: white;
  border: solid white 0.2rem;
  border-radius: 0.8vh;
  text-decoration: none;
  margin: 2vw 23vw 0vh 0vh;
  height: 3vh;
  padding: 2vh;
  width: 18vw;
  font-weight: 700;
}
