$lightgreen: #6bbe5a;


.service-form input {
  width: -webkit-fill-available;
  border: solid #c9c9c9 2px;
  margin-top: 18px;
  padding-left: 2vh;
  height: 48px;
  border-radius: 0.5vh;
  font-size: 3vh;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #787878;
}
.service-form > div {
  height: 48px;
}
.service-form .add-routes-block {
  height: 70px;
}
.service-form p {
  color: black;
  text-align: center;
}
.service-form {
  padding: 0px 18px 18px 18px;
  width: inherit;
  display: flex;
  flex-direction: column;
}
.add-service-submit {
  height: 40px;
  width: 160px;
  margin-top: 18px;
  border: none;
  border-radius: 5px;
  background-color: $lightgreen;
  color: white;
  font-size: large;
  align-self: flex-end;
}
.add-service-submit:hover {
  background-color: #2da914;
}
.add-clients-input-block {
  display: flex;
  flex-direction: row;
  margin-top: 18px;
}
.add-clients-input-block button {
  margin: 0 0 0 2vh;
  border: solid black 1px;
  border-radius: 2vh;
}
.add-clients-input-block .css-2b097c-container {
  width: 100%;
}
.css-2b097c-container .css-tsqosp-SingleValue {
  color: black;
}
.service-form > .css-2b097c-container {
  margin-top: 18px;
}
.add-routes-block input {
  margin-right: 1vh;
}
.add-routes-block input:nth-of-type(2) {
  width: 6vh;
  border: none;
}
.add-routes-block input:nth-of-type(1) {
  margin-left: 1vh;
  width: 40%;
}
.add-routes-block > div {
  width: 45%;
}
