.service-form input {
  width: -webkit-fill-available;
  border: solid grey 1px;
  margin-top: 18px;
  padding-left: 2vh;
  height: 10vh;
  border-radius: 0.5vh;
  font-size: 3vh;
}
.service-form p {
  color: black;
  text-align: center;
}
.service-form {
  width: inherit;
  display: flex;
  flex-direction: column;
}

.add-service-submit {
  margin-top: 18px;

  height: fit-content;
  border: none;
  border-radius: 5px;
  background-color: #3cd719;
  color: white;
  font-size: large;
  width: fit-content;
  align-self: flex-end;
}
.add-service-submit:hover {
  background-color: #2da914;
}
.add-clients-input-block {
  display: flex;
  flex-direction: row;
  margin-top: 18px;
}
.add-clients-input-block button {
  margin: 0 0 0 2vh;
  border: solid black 1px;
  border-radius: 2vh;
}
.add-clients-input-block .css-2b097c-container {
  width: 100%;
}
.css-2b097c-container .css-tsqosp-SingleValue {
  color: black;
}
.service-form > .css-2b097c-container {
  margin-top: 18px;
}
.add-routes-block input {
  margin-right: 1vh;
}
.add-routes-block input:nth-of-type(2) {
  width: 6vh;
  border: none;
}
.add-routes-block input:nth-of-type(1) {
  margin-left: 1vh;
  width: 40%;
}
.add-routes-block > div {
  width: 45%;
}
