.service-card {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  display: grid;
  align-self: center;
  text-align: left;
  border: solid 1px;
  width: 100%;
  height: fit-content;
  border-radius: 1vh;
  margin: 1vh 0;
  padding: 1vh 0;
}
.service-card div {
  padding-left: 1vw;
}
.date {
  grid-column: 1/2;
}
.task-name {
  grid-column: 2/3;
}
.price {
  grid-column: 3/4;
}
.status {
  grid-column: 4/5;
}
