.service-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-self: center;
  border: solid 1px;
  width: 90vw;
  height: 8vh;
  border-radius: 1vh;
  margin: 1vh 0;
  padding: 1vh 0;
  justify-content: space-around;
}
