.service-form p {
  color: black;
  text-align: center;
}
.service-form {
  width: inherit;
  display: flex;
  flex-direction: column;
}

.add-service-submit {
  margin-top: 2vh;
  height: 10vh;
  border: none;
  border-radius: 5px;
  background-color: #3cd719;
  color: white;
  font-size: large;
  width: 30vh;
  align-self: flex-end;
}
.add-service-submit:hover {
  background-color: #2da914;
}
.add-routes-block {
  display: flex;
  flex-direction: row;
  margin-top: 2vh;
}
.service-form .add-routes-block input {
  margin-top: 0;
}
.add-routes-block button {
  margin: 0 0 0 2vh;
  border: solid black 1px;
  border-radius: 2vh;
}
