.service-form input {
  width: -webkit-fill-available;
  border: solid grey 1px;
  margin-top: 2vh;
  padding-left: 2vh;
  height: 10vh;
  border-radius: 0.5vh;
  font-size: 3vh;
}
.service-form p {
  color: black;
  text-align: center;
}
.service-form {
  width: inherit;
}

.add-service-submit {
  margin-top: 2vh;
  height: 10vh;
  border: none;
  border-radius: 5px;
  background-color: #3cd719;
  color: white;
  font-size: large;
  width: inherit;
}
.add-service-submit:hover {
  background-color: #2da914;
}
